@CHARSET "UTF-8";
#icl-content-dashboard{
  padding: 0;
}
#icl-content-dashboard div.form-item div.form-item, 
.form-item label,
div.form-item div {
  display: inline;
}
#icl-content-dashboard fieldset fieldset {
  background: none;
  border: 0px;
  margin: 0  0 0 10em;
  padding: 0;
}
#icl-dashboard-further-label {
  position:relative;
  top:2.5em  
}
#icl-content-dashboard #edit-op {
  float:right;
}

li.icl_no_translator{
  background-image:url(warning.png);
  background-repeat: no-repeat;
  background-position: 0 3px;
  padding-left: 1.6em;
  
  list-style-type: none;
}

.icl_status {
    background-color: #FFFBCC; 
    border: 1pt solid #E6DB55; 
    padding: 1em; 
    margin: 0em;
}

.icl_cyan_box{
    border: 1px solid #8cceea;
    background-color: #eff8fc;
    padding:10px;    
    margin-bottom:0px;
    margin-top:25px;
}

.icl_cyan_box H3 { margin-top: 2px; }

.icl_red_box{
    border: 2px solid #F73B3B;
    background-color: #eff8fc;
    padding:10px;    
    margin-bottom:0px;
    margin-top:25px;
}


